# 2022 서울특별시_대여소별 공공자전거 대여가능 수량(1시간 단위) 번역 코드

In [1]:
import pandas as pd

df = pd.read_csv("./data/available_bikes/서울특별시_대여소별 공공자전거 대여가능 수량(1시간 단위)_2022년도_1분기/22.01.csv", encoding='cp949')

In [2]:
print(df.columns)

Index(['일시', '대여소번호', '대여소명', '시간대', '거치대수량'], dtype='object')

In [3]:
df.columns = ['Date', 
              'Rental_location_number', 
              'Name_of_the_rental_location', 
              'Time',
              'Num_of_available_bikes']

In [4]:
df

,Date,Rental_location_number,Name_of_the_rental_location,Time,Num_of_available_bikes
0,2022-01-01,102,102. 망원역 1번출구 앞,0,17
1,2022-01-01,102,102. 망원역 1번출구 앞,1,16
2,2022-01-01,102,102. 망원역 1번출구 앞,2,17
3,2022-01-01,102,102. 망원역 1번출구 앞,3,17
4,2022-01-01,102,102. 망원역 1번출구 앞,4,18
...,...,...,...,...,...
1048570,2022-01-17,4880,4880. 송파청소년센터,21,8
1048571,2022-01-17,4880,4880. 송파청소년센터,22,8
1048572,2022-01-17,4880,4880. 송파청소년센터,23,8
1048573,2022-01-17,4881,4881. 거여동사거리 송파둘레길 입구,0,2
1048574,2022-01-17,4881,4881. 거여동사거리 송파둘레길 입구,1,2

In [5]:
df.to_csv('./data/available_bikes/2022_available/Num_of_available_bikes_03', encoding='utf-8', index=False)

In [6]:
check = pd.read_csv('./data/available_bikes/2022_available/Num_of_available_bikes_03')

In [7]:
check

,Date,Rental_location_number,Name_of_the_rental_location,Time,Num_of_available_bikes
0,2022-03-01,102,102. 망원역 1번출구 앞,0,19
1,2022-03-01,102,102. 망원역 1번출구 앞,1,17
2,2022-03-01,102,102. 망원역 1번출구 앞,2,19
3,2022-03-01,102,102. 망원역 1번출구 앞,3,19
4,2022-03-01,102,102. 망원역 1번출구 앞,4,20
...,...,...,...,...,...
186150,2022-03-03,5852,5852. 대림동현대2차 201동 앞,19,1
186151,2022-03-03,5852,5852. 대림동현대2차 201동 앞,20,1
186152,2022-03-03,5852,5852. 대림동현대2차 201동 앞,21,1
186153,2022-03-03,5852,5852. 대림동현대2차 201동 앞,22,1
186154,2022-03-03,5852,5852. 대림동현대2차 201동 앞,23,1

In [8]:
check.isnull().sum()

Date                           0
Rental_location_number         0
Name_of_the_rental_location    0
Time                           0
Num_of_available_bikes         0
dtype: int64